.navbar { 
  display: table;
  background: linear-gradient(to right, #2c4692, #00a662);
  width: 100%;
  height: 200px;
}

.navbar__h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.search {
  width: 100%;
  text-align: center;
  margin: 30px auto 0 auto;
}

.search__input {
  line-height: 4rem;
  border-radius: 4px;
  border: 1px solid #333;
  width: 90%;
  font-size: 2rem;
  padding-left: 15px;
}

.search__icon {
  position: absolute;
  background-color: #00ab60;
  padding: 15px;
  margin-left: 10px;
  font-size: 2.4rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.searchResult {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "Title Description";
  width: 90%;
  margin: auto;
}

.searchResult__title {
  display: flex;
  position: relative;
  grid-area: "Title"
}

.searchResult__icon{
  position: absolute;
  top: 48px;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}

.searchResult__icon--starred {
  color: #00ab60 !important;
}
.searchResult__h4 {
  grid-area: "title";
  font-weight: 300;
  font-size: 2rem;
  margin-left: 40px;
}

.searchResult__ul {
  grid-area: "description";
  font-weight: 300;
  font-size: 2rem;
}

.searchResult__ul li  {
  margin-bottom: 20px;
  /* background-color: red; */
}

.favouritesWrapper{
  background-color: #f5fffa !important;
  widows: 100%;
}

.favourites__h2 {
  color: #00ab60;
  font-size: 3rem;
  padding: 30px 0 0 70px;
  margin: 0;
}

.noFavourites {
  display: none;
}

.spinner {
  width: fit-content;
  margin: auto;
}